<%= form_for(@materialtype) do |f| %>
    <%= hidden_field_tag :locale, I18n.locale %>
  <% if @materialtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materialtype.errors.count, "error") %> prohibited this materialtype from being saved:</h2>

      <ul>
      <% @materialtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
