<p id="notice"><%= notice %></p>

<h1>Listing Materialtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materialtypes.each do |materialtype| %>
      <tr>
        <td><%= materialtype.name %></td>
        <td><%= link_to 'Show', materialtype %></td>
        <td><%= link_to 'Edit', edit_materialtype_path(materialtype) %></td>
        <td><%= link_to 'Destroy', materialtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materialtype', new_materialtype_path %>
