<style>

.banner ul li {
    display: inline;
    list-style-type: none;
}
</style>

  <div class="banner row"><ul>
   <li class="banner">
        <%= image_tag("MAL_July_2010.jpg", height: "60", alt: "Edit Entry") %>
    </li>
    <li class="banner">
      <%= image_tag("BeHeardNow.jpg", height: "60", alt: "Edit Entry") %>
    </li>

    <li class="banner">
      <%= image_tag("IntLawYemen.jpg", height: "60", alt: "Edit Entry") %>

    </li>

    <li class="banner">
      <%= image_tag("WIT_graduates.jpg", height: "60", alt: "Edit Entry") %>

    </li>

    <li class="banner">
      <%= image_tag("WIT_lebanon.jpg", height: "60", alt: "Edit Entry") %>
    </li>
</ul>

  </div>

