


<div class="panel panel-default">
  <div class="panel-body">

    <small>Editing Technical Area:</small>
    <h2>
      <% @basename.each do |engname| %>

          <%= engname.name %>
      <% end %>
    </h2>
<hr>



<%= form_for(@technicalarea) do |f| %>
    <%= hidden_field_tag :locale, I18n.locale %>
  <% if @technicalarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technicalarea.errors.count, "error") %> prohibited this technicalarea from being saved:</h2>

      <ul>
      <% @technicalarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
    </div>