<p id="notice"><%= notice %></p>

<h1>Listing Technicalareas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @technicalareas.each do |technicalarea| %>
      <tr>
        <td><%= technicalarea.name %></td>
        <td><%= link_to 'Show', technicalarea %></td>
        <td><%= link_to 'Edit', edit_technicalarea_path(technicalarea) %></td>
        <td><%= link_to 'Destroy', technicalarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technicalarea', new_technicalarea_path %>
