<style>
    .pagetitle {
        color: teal;
        font-size: 16px;
    }


    .parent {
        color: orange;
        font-size: 10px;
    }


</style>


<p id="notice"><%= notice %></p>


<div class="col-sm-7">
  <div class="panel panel-default">

    <div class="panel-body">
      Organization:<br>

      <span class="pagetitle"><%= @organization.name %></span>



<p>
  <strong>Contact:</strong>
  <%= @organization.contact %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @organization.isactive %>
</p>





      <h3>Resources </h3>
      <% @resources.each do |resource| %>

          <%= link_to resource.title, resource %><br>


      <% end %>





<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

    </div>
  </div>
</div>
